In [12]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [13]:
df = pd.read_csv("cc_approvals.csv", header=None)
df

    0      1       2  3  4   5   6     7  8  9   10 11 12   13   14 15
0    b  30.83   0.000  u  g   w   v  1.25  t  t   1  f  g  202    0  +
1    a  58.67   4.460  u  g   q   h  3.04  t  t   6  f  g   43  560  +
2    a   24.5   0.500  u  g   q   h  1.50  t  f   0  f  g  280  824  +
3    b  27.83   1.540  u  g   w   v  3.75  t  t   5  t  g  100    3  +
4    b  20.17   5.625  u  g   w   v  1.71  t  f   0  f  s  120    0  +
..  ..    ...     ... .. ..  ..  ..   ... .. ..  .. .. ..  ...  ... ..
685  b  21.08  10.085  y  p   e   h  1.25  f  f   0  f  g  260    0  -
686  a  22.67   0.750  u  g   c   v  2.00  f  t   2  t  g  200  394  -
687  a  25.25  13.500  y  p  ff  ff  2.00  f  t   1  t  g  200    1  -
688  b  17.92   0.205  u  g  aa   v  0.04  f  f   0  f  g  280  750  -
689  b     35   3.375  u  g   c   h  8.29  f  f   0  t  g    0    0  -

[690 rows x 16 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       690 non-null    object
 1   1       690 non-null    object
 2   2       690 non-null    float64
 3   3       690 non-null    object
 4   4       690 non-null    object
 5   5       690 non-null    object
 6   6       690 non-null    object
 7   7       690 non-null    float64
 8   8       690 non-null    object
 9   9       690 non-null    object
 10  10      690 non-null    int64
 11  11      690 non-null    object
 12  12      690 non-null    object
 13  13      690 non-null    object
 14  14      690 non-null    int64
 15  15      690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB

In [15]:
df.describe()

               2           7          10             14
count  690.000000  690.000000  690.00000     690.000000
mean     4.758725    2.223406    2.40000    1017.385507
std      4.978163    3.346513    4.86294    5210.102598
min      0.000000    0.000000    0.00000       0.000000
25%      1.000000    0.165000    0.00000       0.000000
50%      2.750000    1.000000    0.00000       5.000000
75%      7.207500    2.625000    3.00000     395.500000
max     28.000000   28.500000   67.00000  100000.000000

In [16]:
df.tail(17)

    0      1       2  3  4   5   6      7  8  9   10 11 12   13   14 15
673  ?   29.5   2.000  y  p   e   h  2.000  f  f   0  f  g  256   17  -
674  a  37.33   2.500  u  g   i   h  0.210  f  f   0  f  g  260  246  -
675  a  41.58   1.040  u  g  aa   v  0.665  f  f   0  f  g  240  237  -
676  a  30.58  10.665  u  g   q   h  0.085  f  t  12  t  g  129    3  -
677  b  19.42   7.250  u  g   m   v  0.040  f  t   1  f  g  100    1  -
678  a  17.92  10.210  u  g  ff  ff  0.000  f  f   0  f  g    0   50  -
679  a  20.08   1.250  u  g   c   v  0.000  f  f   0  f  g    0    0  -
680  b   19.5   0.290  u  g   k   v  0.290  f  f   0  f  g  280  364  -
681  b  27.83   1.000  y  p   d   h  3.000  f  f   0  f  g  176  537  -
682  b  17.08   3.290  u  g   i   v  0.335  f  f   0  t  g  140    2  -
683  b  36.42   0.750  y  p   d   v  0.585  f  f   0  f  g  240    3  -
684  b  40.58   3.290  u  g   m   v  3.500  f  f   0  t  s  400    0  -
685  b  21.08  10.085  y  p   e   h  1.250  f  f   0  f  g  260    0  -
686  a  22.67   0.750  u  g   c   v  2.000  f  t   2  t  g  200  394  -
687  a  25.25  13.500  y  p  ff  ff  2.000  f  t   1  t  g  200    1  -
688  b  17.92   0.205  u  g  aa   v  0.040  f  f   0  f  g  280  750  -
689  b     35   3.375  u  g   c   h  8.290  f  f   0  t  g    0    0  -

In [17]:
df.isnull().values.sum()

0

In [18]:
df.replace("?",np.NaN)

    0      1       2  3  4   5   6     7  8  9   10 11 12   13   14 15
0    b  30.83   0.000  u  g   w   v  1.25  t  t   1  f  g  202    0  +
1    a  58.67   4.460  u  g   q   h  3.04  t  t   6  f  g   43  560  +
2    a   24.5   0.500  u  g   q   h  1.50  t  f   0  f  g  280  824  +
3    b  27.83   1.540  u  g   w   v  3.75  t  t   5  t  g  100    3  +
4    b  20.17   5.625  u  g   w   v  1.71  t  f   0  f  s  120    0  +
..  ..    ...     ... .. ..  ..  ..   ... .. ..  .. .. ..  ...  ... ..
685  b  21.08  10.085  y  p   e   h  1.25  f  f   0  f  g  260    0  -
686  a  22.67   0.750  u  g   c   v  2.00  f  t   2  t  g  200  394  -
687  a  25.25  13.500  y  p  ff  ff  2.00  f  t   1  t  g  200    1  -
688  b  17.92   0.205  u  g  aa   v  0.04  f  f   0  f  g  280  750  -
689  b     35   3.375  u  g   c   h  8.29  f  f   0  t  g    0    0  -

[690 rows x 16 columns]

In [19]:
df.tail(17)

    0      1       2  3  4   5   6      7  8  9   10 11 12   13   14 15
673  ?   29.5   2.000  y  p   e   h  2.000  f  f   0  f  g  256   17  -
674  a  37.33   2.500  u  g   i   h  0.210  f  f   0  f  g  260  246  -
675  a  41.58   1.040  u  g  aa   v  0.665  f  f   0  f  g  240  237  -
676  a  30.58  10.665  u  g   q   h  0.085  f  t  12  t  g  129    3  -
677  b  19.42   7.250  u  g   m   v  0.040  f  t   1  f  g  100    1  -
678  a  17.92  10.210  u  g  ff  ff  0.000  f  f   0  f  g    0   50  -
679  a  20.08   1.250  u  g   c   v  0.000  f  f   0  f  g    0    0  -
680  b   19.5   0.290  u  g   k   v  0.290  f  f   0  f  g  280  364  -
681  b  27.83   1.000  y  p   d   h  3.000  f  f   0  f  g  176  537  -
682  b  17.08   3.290  u  g   i   v  0.335  f  f   0  t  g  140    2  -
683  b  36.42   0.750  y  p   d   v  0.585  f  f   0  f  g  240    3  -
684  b  40.58   3.290  u  g   m   v  3.500  f  f   0  t  s  400    0  -
685  b  21.08  10.085  y  p   e   h  1.250  f  f   0  f  g  260    0  -
686  a  22.67   0.750  u  g   c   v  2.000  f  t   2  t  g  200  394  -
687  a  25.25  13.500  y  p  ff  ff  2.000  f  t   1  t  g  200    1  -
688  b  17.92   0.205  u  g  aa   v  0.040  f  f   0  f  g  280  750  -
689  b     35   3.375  u  g   c   h  8.290  f  f   0  t  g    0    0  -

In [21]:
df.fillna(df.mean())

    0      1       2  3  4   5   6     7  8  9   10 11 12   13   14 15
0    b  30.83   0.000  u  g   w   v  1.25  t  t   1  f  g  202    0  +
1    a  58.67   4.460  u  g   q   h  3.04  t  t   6  f  g   43  560  +
2    a   24.5   0.500  u  g   q   h  1.50  t  f   0  f  g  280  824  +
3    b  27.83   1.540  u  g   w   v  3.75  t  t   5  t  g  100    3  +
4    b  20.17   5.625  u  g   w   v  1.71  t  f   0  f  s  120    0  +
..  ..    ...     ... .. ..  ..  ..   ... .. ..  .. .. ..  ...  ... ..
685  b  21.08  10.085  y  p   e   h  1.25  f  f   0  f  g  260    0  -
686  a  22.67   0.750  u  g   c   v  2.00  f  t   2  t  g  200  394  -
687  a  25.25  13.500  y  p  ff  ff  2.00  f  t   1  t  g  200    1  -
688  b  17.92   0.205  u  g  aa   v  0.04  f  f   0  f  g  280  750  -
689  b     35   3.375  u  g   c   h  8.29  f  f   0  t  g    0    0  -

[690 rows x 16 columns]

In [22]:
df.isnull().values.sum()

0

In [23]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in df.columns:
    if df[col].dtype=='object':
        df[col]=le.fit_transform(df[col])

In [24]:
df

     0    1       2   3   4   5   6     7   8   9   10  11  12   13   14  15
0     2  156   0.000   2   1  13   8  1.25   1   1   1   0   0   42    0   0
1     1  328   4.460   2   1  11   4  3.04   1   1   6   0   0  118  560   0
2     1   89   0.500   2   1  11   4  1.50   1   0   0   0   0   74  824   0
3     2  125   1.540   2   1  13   8  3.75   1   1   5   1   0    1    3   0
4     2   43   5.625   2   1  13   8  1.71   1   0   0   0   2    8    0   0
..   ..  ...     ...  ..  ..  ..  ..   ...  ..  ..  ..  ..  ..  ...  ...  ..
685   2   52  10.085   3   3   5   4  1.25   0   0   0   0   0   67    0   1
686   1   71   0.750   2   1   2   8  2.00   0   1   2   1   0   40  394   1
687   1   97  13.500   3   3   6   3  2.00   0   1   1   1   0   40    1   1
688   2   20   0.205   2   1   1   8  0.04   0   0   0   0   0   74  750   1
689   2  197   3.375   2   1   2   4  8.29   0   0   0   1   0    0    0   1

[690 rows x 16 columns]

In [25]:
from sklearn.preprocessing import MinMaxScaler
df = df.drop([df.columns[10],df.columns[13]], axis=1)
df

     0    1       2   3   4   5   6     7   8   9   11  12   14  15
0     2  156   0.000   2   1  13   8  1.25   1   1   0   0    0   0
1     1  328   4.460   2   1  11   4  3.04   1   1   0   0  560   0
2     1   89   0.500   2   1  11   4  1.50   1   0   0   0  824   0
3     2  125   1.540   2   1  13   8  3.75   1   1   1   0    3   0
4     2   43   5.625   2   1  13   8  1.71   1   0   0   2    0   0
..   ..  ...     ...  ..  ..  ..  ..   ...  ..  ..  ..  ..  ...  ..
685   2   52  10.085   3   3   5   4  1.25   0   0   0   0    0   1
686   1   71   0.750   2   1   2   8  2.00   0   1   1   0  394   1
687   1   97  13.500   3   3   6   3  2.00   0   1   1   0    1   1
688   2   20   0.205   2   1   1   8  0.04   0   0   0   0  750   1
689   2  197   3.375   2   1   2   4  8.29   0   0   1   0    0   1

[690 rows x 14 columns]

In [26]:
df = df.values
X,y = df[:,0:13], df[:,13]

scaler = MinMaxScaler(feature_range=(0,1))
rescaledX = scaler.fit_transform(X)

In [27]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(rescaledX,y,test_size=0.30,random_state=42)

In [28]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report


def evaluate(model, X_train, X_test, y_train, y_test):
    y_test_pred = model.predict(X_test)
    y_train_pred = model.predict(X_train)

    print("TRAINING RESULTS: \n")
    clf_report = pd.DataFrame(classification_report(y_train, y_train_pred, output_dict=True))
    print(f"CONFUSION MATRIX:\n{confusion_matrix(y_train, y_train_pred)}")
    print(f"ACCURACY SCORE:\n{accuracy_score(y_train, y_train_pred):.4f}")
    print(f"CLASSIFICATION REPORT:\n{clf_report}")

    print("TESTING RESULTS: \n")
    clf_report = pd.DataFrame(classification_report(y_test, y_test_pred, output_dict=True))
    print(f"CONFUSION MATRIX:\n{confusion_matrix(y_test, y_test_pred)}")
    print(f"ACCURACY SCORE:\n{accuracy_score(y_test, y_test_pred):.4f}")
    print(f"CLASSIFICATION REPORT:\n{clf_report}")

In [29]:
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier()
bagging_clf = BaggingClassifier(base_estimator=tree, n_estimators=1500, random_state=42)
bagging_clf.fit(X_train, y_train)

evaluate(bagging_clf, X_train, X_test, y_train, y_test)

TRAINING RESULTS:

CONFUSION MATRIX:
[[210   0]
 [  0 273]]
ACCURACY SCORE:
1.0000
CLASSIFICATION REPORT:
             0.0    1.0  accuracy  macro avg  weighted avg
precision    1.0    1.0       1.0        1.0           1.0
recall       1.0    1.0       1.0        1.0           1.0
f1-score     1.0    1.0       1.0        1.0           1.0
support    210.0  273.0       1.0      483.0         483.0
TESTING RESULTS:

CONFUSION MATRIX:
[[83 14]
 [13 97]]
ACCURACY SCORE:
0.8696
CLASSIFICATION REPORT:
                 0.0         1.0  accuracy   macro avg  weighted avg
precision   0.864583    0.873874  0.869565    0.869229      0.869520
recall      0.855670    0.881818  0.869565    0.868744      0.869565
f1-score    0.860104    0.877828  0.869565    0.868966      0.869522
support    97.000000  110.000000  0.869565  207.000000    207.000000

In [30]:
from sklearn.ensemble import RandomForestClassifier

rf_clf = RandomForestClassifier(random_state=42, n_estimators=1000)
rf_clf.fit(X_train, y_train)
evaluate(rf_clf, X_train, X_test, y_train, y_test)

TRAINING RESULTS:

CONFUSION MATRIX:
[[210   0]
 [  0 273]]
ACCURACY SCORE:
1.0000
CLASSIFICATION REPORT:
             0.0    1.0  accuracy  macro avg  weighted avg
precision    1.0    1.0       1.0        1.0           1.0
recall       1.0    1.0       1.0        1.0           1.0
f1-score     1.0    1.0       1.0        1.0           1.0
support    210.0  273.0       1.0      483.0         483.0
TESTING RESULTS:

CONFUSION MATRIX:
[[81 16]
 [12 98]]
ACCURACY SCORE:
0.8647
CLASSIFICATION REPORT:
                 0.0         1.0  accuracy   macro avg  weighted avg
precision   0.870968    0.859649  0.864734    0.865308      0.864953
recall      0.835052    0.890909  0.864734    0.862980      0.864734
f1-score    0.852632    0.875000  0.864734    0.863816      0.864518
support    97.000000  110.000000  0.864734  207.000000    207.000000

In [31]:
from sklearn.ensemble import AdaBoostClassifier

ada_boost_clf = AdaBoostClassifier(n_estimators=30)
ada_boost_clf.fit(X_train, y_train)
evaluate(ada_boost_clf, X_train, X_test, y_train, y_test)

TRAINING RESULTS:

CONFUSION MATRIX:
[[193  17]
 [ 25 248]]
ACCURACY SCORE:
0.9130
CLASSIFICATION REPORT:
                  0.0         1.0  accuracy   macro avg  weighted avg
precision    0.885321    0.935849  0.913043    0.910585      0.913880
recall       0.919048    0.908425  0.913043    0.913736      0.913043
f1-score     0.901869    0.921933  0.913043    0.911901      0.913210
support    210.000000  273.000000  0.913043  483.000000    483.000000
TESTING RESULTS:

CONFUSION MATRIX:
[[80 17]
 [20 90]]
ACCURACY SCORE:
0.8213
CLASSIFICATION REPORT:
                 0.0         1.0  accuracy   macro avg  weighted avg
precision   0.800000    0.841121  0.821256    0.820561      0.821852
recall      0.824742    0.818182  0.821256    0.821462      0.821256
f1-score    0.812183    0.829493  0.821256    0.820838      0.821381
support    97.000000  110.000000  0.821256  207.000000    207.000000

In [32]:
from xgboost import XGBClassifier

grad_boost_clf = XGBClassifier(n_estimators=100, random_state=42)
grad_boost_clf.fit(X_train, y_train)
evaluate(grad_boost_clf, X_train, X_test, y_train, y_test)

C:\Users\souvik\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[12:31:02] WARNING: D:\bld\xgboost-split_1637426510059\work\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
TRAINING RESULTS:

CONFUSION MATRIX:
[[210   0]
 [  0 273]]
ACCURACY SCORE:
1.0000
CLASSIFICATION REPORT:
             0.0    1.0  accuracy  macro avg  weighted avg
precision    1.0    1.0       1.0        1.0           1.0
recall       1.0    1.0       1.0        1.0           1.0
f1-score     1.0    1.0       1.0        1.0           1.0
support    210.0  273.0       1.0      483.0         483.0
TESTING RESULTS:

CONFUSION MATRIX:
[[78 19]
 [14 96]]
ACCURACY SCORE:
0.8406
CLASSIFICATION REPORT:
                 0.0         1.0  accuracy   macro avg  weighted avg
precision   0.847826    0.834783   0.84058    0.841304      0.840895
recall      0.804124    0.872727   0.84058    0.838425      0.840580
f1-score    0.825397    0.853333   0.84058    0.839365      0.840242
support    97.000000  110.000000   0.84058  207.000000    207.000000